@model IEnumerable<MathProject.Models.Question>

@{
    ViewData["Title"] = "Edycja";
}

<h2>Wybierz pytanie które chcesz edytować</h2>
<hr/>
<div class="table">
    @foreach (var item in Model)
    {
        <a class="btn btn-tile-task" asp-action="ChooseHowToEdit" asp-route-id="@item.ID"><span class="inside-button">
            @Html.DisplayFor(modelItem => item.Content)</span> </a>

    }
</div>
<div id="checked">

</div>
      