
@model MathProject.Models.Question

@{
    ViewData["Title"] = "Wybierz sposób rozwiązywania";
}
<body>

    <h2>Jak chcesz rozwiązać to zadanie?</h2>

    <a class="btn btn-tile" asp-action="Solve" asp-route-id="@Model.ID">Rozwiązuję sam </a>
    <a class="btn btn-tile" asp-action="SolveWithHints" asp-route-questionid="@Model.ID" asp-route-hintid="0">Rozwiązuję z podpowiedziami </a>
  
</body>