@model MathProject.Models.Question
@using MathProject.Models;

@{
    ViewData["Title"] = "Wybierz sposób edycji";
}


<h2>Co chcesz teraz zrobić?</h2>
<hr/>
    <a class="btn btn-tile" asp-action="Edit" asp-route-id="@Model.ID"><span class="inside-button">Edytuj</span> </a>
    <a class="btn btn-tile" asp-action="Delete" asp-route-id="@Model.ID"><span class="inside-button">Usuń zadanie</span> </a>
    <a class="btn btn-tile" asp-action="Details" asp-route-id="@Model.ID"><span class="inside-button">Pokaż szczegóły </span></a>
    <a class="btn btn-tile" href="/Hints/create/@Model.ID"><span class="inside-button">Dodaj podpowiedź</span></a>
<p>
    <a class="btn btn-tile" asp-action="Create">
        <span id="button-text">Dodaj nowe zadanie</span>
    </a>
</p>
