
@model MathProject.Models.Question
@using MathProject.Models;
@{
    ViewData["Title"] = "Category";
}
<body>
    <h2>Pytanie numer @Html.DisplayFor(model => model.ID)</h2>
    <div>
        
            

                @Html.DisplayFor(model => model.Content)
    </div>
    <div>
       
    </div>
</body>
