
@model MathProject.Models.Question
@using MathProject.Models;
@{
    ViewData["Title"] = "Category";
}
<body>
    <h2>Zadanie numer @Html.DisplayFor(model => model.ID)</h2>
    <div>
         @Html.DisplayFor(model => model.Content)
    </div>
    <div>
        <label asp-for="CorrectAnswer"></label>
        <input asp-for="CorrectAnswer" class="form-control" name=" "/>
        <button type="submit" class="btn btn-default">Pokaż czy dobrze odpowiedziałem</button>
        @{
            if (Model.CorrectAnswer == 8)
            {
                @Html.Partial("PartialAnswer");
            }
        }
        
    </div>
</body>
