@{
    ViewData["Title"] = "Odmowa dostępu";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Poproś admina o admina aby dostać się do tej tajnej strony.</p>
</header>
