body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2016/02/87822fb6f4532a0d04a54c985b838523.png);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(24, 109, 110, 0.82);
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background: #ffd800;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-tile {
    font-size: large;
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 13px;
    line-height: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.btn-default{
    margin:13px;
    color: #000000;
    background-color:#114c57;
    border:none;
}

.btn-tile:hover {
        background-color: #114c57;
    }
.btn-back {
    width: 200px;
    height: 67px;
    background-color: #000000;
    margin: 15px;
    line-height: 55px;
    color: #000000;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: cadetblue;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover:visited {
    text-decoration: none;
    color: cadetblue;
}
