body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2016/02/87822fb6f4532a0d04a54c985b838523.png);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*background: rgba(24, 100, 115, 0.82);*/
    background: rgba(125, 125, 125, 0.57);
}
#test1 {
    width: 200px;
    height: 100px;
    overflow: hidden;
}
#answer {
    width: auto;
}
#form-group{
    width:auto;
}
.form-control {
    display: inline-block;
    width: auto; /* Prevent labels from stacking above inputs in `.form-group` */
    vertical-align: middle;
}
.form-control-wide {
    display: inline-block;
    width: auto; /* Prevent labels from stacking above inputs in `.form-group` */
    vertical-align: middle;
    min-width: 400px;
}

    /* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color: aliceblue;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-tile, .btn-tile-task {
    font-size: large;
    background-color: rgba(255, 212, 212, 0.90);
    /*background-color: rgba(26, 151, 164, 0.83);*/
    width: 200px;
    height: 200px;
    margin: 8px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;

}
.btn-tile {
    line-height: 156px;
}
.btn-tile-task {
    display: inline-block;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    vertical-align: middle;
    overflow: hidden;
    /*display: table-cell;
    padding: 5px;
    width:20%;*/
}
/*.table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout:fixed;
    width:100%;
}*/

.btn-default {
    margin: 13px;
    color: #ffffff;
    background-color: #ffbcbc;
    border: none;
}
.btn-default:hover, .btn-default:hover:visited{
    color: #000000;
    
}
.btn-tile:hover, .btn-tile-task:hover {
    background-color: rgba(255, 164, 164, 0.98);
    color: #ffffff;
}
.inside-button{
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    height: 150px;
}
.btn-back {
    width: 200px;
    height: 67px;
    background-color: #000000;
    margin: 15px;
    line-height: 55px;
    color: #000000;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffbcbc;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover:visited {
    text-decoration: none;
    color: #ffffff;
}
